DEX660-SU24v1-EN-Student-Files/solutions/walkthroughs/devprd/module01/wt1-2_solution/check-in-papi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  MuleSoft Training - Anypoint Platform Development: Level 2
  %%
  Copyright (C) 2019 - 2021 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <configuration-properties file="properties.yaml" doc:name="Config Props"/>
  <tls:context name="apiTLSContext" doc:name="TLS Context">
    <tls:key-store type="pkcs12" path="check-in-papi.p12" password="mule12345" keyPassword="mule12345" alias="server"/>
  </tls:context>
  <http:listener-config name="apiHttpListenerConfig">
    <http:listener-connection host="0.0.0.0" protocol="HTTPS" port="${https.port}" tlsContext="apiTLSContext"/>
  </http:listener-config>
  <apikit:config name="apiConfig" api="${api.spec}" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="APIKit Config"/>
  <api-gateway:autodiscovery apiId="15678353" flowRef="api-main" doc:name="API Autodiscovery"/>
  <flow name="api-main">
    <http:listener config-ref="apiHttpListenerConfig" path="/api/v1/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="apiConfig"/>
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Bad request"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">400</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Method not allowed"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">405</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Not acceptable"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">406</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Unsupported media type"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">415</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Not Implemented"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">501</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="api-console">
    <http:listener config-ref="apiHttpListenerConfig" path="/console/v1/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="apiConfig"/>
    <error-handler>
      <on-error-propagate type="APIKIT:NOT_FOUND">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
              output application/json
              ---
              {message: "Resource not found"}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">404</ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="put:\tickets\(PNR)\checkin:application\json:apiConfig">
    <ee:transform>
      <ee:variables>
        <ee:set-variable variableName="PNR">attributes.uriParams.PNR</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          ---
          {
            paymentID: "PAY-1AKD7482FAB9STATKO"
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiConfig">
    <ee:transform>
      <ee:variables>
        <ee:set-variable variableName="PNR">attributes.uriParams.PNR</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          ---
          {
            PNR: "928382J",
            airportArrive: "SFO",
            class: "Economy",
            bagsCount: 2,
            lastName: "Smith",
            seat: "16C",
            flightDate: "2019-02-14",
            flight: "ANY6584",
            boarding: "13:15:00",
            airportDepart: "ATL",
            gate: "4A",
            depart: "14:30:00"
          }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
